{% extends "base.html" %}
{% from 'macros/form_macros.html' import input, form_text, form_button, form_checkbox %}



{% block content %}
    
    <h1>Login:</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form_text(form.username) }}
        {{ form_text(form.password) }}
        {{ form_checkbox(form.remember_me)}}
        
        <p>{{ form_button(form.submit) }}</p>
        <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
    </form>
    <p>
        Forgot Your Password?
        <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a> 
    </p>

{% endblock %}


{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Login") }}
{% endblock %}