{% extends "auth/auth_base.html" %}
{% from 'macros/form_macros.html' import input, form_button, form_text %}

{% block auth_form %}

<h1>Register:</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form_text(form.username, size=32) }}
    {{ form_text(form.email, size=64) }}
    {{ form_text(form.password, size=32) }}
    {{ form_text(form.password2, size=32) }}
    <div class="d-flex flex-row">
        {{ form.submit(class="btn btn-primary my-3 flex-fill", onclick=onclick) }}
    </div>
</form>
   
{% endblock %}

{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Register") }}
{% endblock %}