{% extends "auth/auth_base.html" %}
{% from 'macros/form_macros.html' import input, form_text, form_button %}



{% block auth_form %}
<h1>Reset Your Password:</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form_input(form.password, size= 32) }}
    {{ form_input(form.password2, size= 32) }}
    <div class="d-flex flex-row">
        {{ form.submit(class="btn btn-primary flex-fill", onclick=onclick) }}
    </div>
</form>
{% endblock %}


{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Reset Password") }}
{% endblock %}