{% extends "auth/auth_base.html" %}
{% from 'macros/form_macros.html' import input, form_button, form_text %}


{% block auth_form %}
    <h1>Reset Password:</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form_text(form.email, size=64) }}
        <div class="d-flex flex-row">
            {{ form.submit(class="btn btn-primary flex-fill", onclick=onclick) }}
        </div>
    </form>
{% endblock %}

{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Reset Password Request") }}
{% endblock %}