{% extends "base.html" %} 

{% from 'macros/form_macros.html' import input, edit_document_button, delete_document_button, view_document_button %}
{% from 'macros/photo_macros.html' import photo_viewer_script, photo_viewer_button, add_photo_button %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#photos img").click(function(){
            var value = $(this)[0].src;
            console.log(value)
            var input = $('#url');
            input.val(value);
        });
    });
</script>

{{ photo_viewer_script() }}

{% endblock %}


{% block content %}
<h1 class="text-center">Author Home:</h1>

<div class="text-center">

    {{ add_photo_button(field=add_photo_form) }}
    {{ photo_viewer_button(files, can_delete=False, btn_name="View Photos") }}

    <a href="{{ url_for('staff.new_document', doc_type='article', version='main') }}" class="btn btn-info" role="button">New Article</a>
</div>


<ul class="list-group mt-3">
<li class="list-group-item">
    <h3>Articles:</h3>
</li>
{% for article in authored_articles %}
<li class="list-group-item">
    <h5>{{ article.name }}</h5>
    {{ view_document_button(path=article.path, warning=False) }}
    {{ edit_document_button(path=article.path, document_type='article') }}
    {{ delete_document_button(path=article.path, document_type='article') }}
</li>


{% endfor %}
</ul>
{% endblock %}


{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Author Home") }}
{% endblock %}