{% extends "base.html" %} 

{% from 'macros/form_macros.html' import input, edit_document_button, delete_document_button, view_document_button %}
{% from 'macros/photo_macros.html' import photo_viewer_script, photo_viewer_button, add_photo_button %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#photos img").click(function(){
            var value = $(this)[0].src;
            console.log(value)
            var input = $('#url');
            input.val(value);
        });
    });
</script>

{{ photo_viewer_script() }}

{% endblock %}



{% block content %}
<h1 class="text-center">Editor Home:</h1>

<div class="text-center">
    {{ add_photo_button(field=add_photo_form) }}
    {{ photo_viewer_button(files, can_delete=True, btn_name="View/Delete Photos") }}

    {% if not current_user.get_task_in_progress('export_document') %}
    <a href="{{ url_for('staff.export') }}" class="btn btn-info" role="button">Export Documents</a>
    {% endif %}
</div>

<div class="mt-3 mb-3 text-center">
    <a href="{{ url_for('staff.new_document', document_type='book', version='main') }}" class="btn btn-info" role="button">New Book</a>
    <a href="{{ url_for('staff.new_document', document_type='chapter', version='main') }}" class="btn btn-info" role="button">New Chapter</a>
    <a href="{{ url_for('staff.new_document', document_type='section', version='main') }}" class="btn btn-info" role="button">New Section</a>
    <a href="{{ url_for('staff.new_document', document_type='article', version='main') }}" class="btn btn-info" role="button">New Article</a>
</div>
<div>
    <a href="{{ url_for('staff.new_category') }}" class="btn btn-info" role="button">New Category</a>
</div>





{% for book in books %}
<ol class="mt-3 mb-3">
    <li >
        {{ book.name }}
        <p>{{ view_document_button(path=book.path, warning=False) }}
        {{ edit_document_button(path=book.path, document_type='book') }}
        {{ delete_document_button(path=book.path, document_type='book') }}</p>

        <ol>
            {% for chapter in book.ordered_children() %}
            <li>
                {{ chapter.name }}
                <p>{{ view_document_button(path=chapter.path, warning=False) }}
                {{ edit_document_button(path=chapter.path, document_type='chapter') }}
                {{ delete_document_button(path=chapter.path, document_type='chapter') }}</p>

                <ol>
                    {% for section in chapter.ordered_children() %}
                    <li>
                        {{ section.name }}
                        <p>{{ view_document_button(path=section.path, warning=False) }}
                        {{ edit_document_button(path=section.path, document_type='section') }}
                        {{ delete_document_button(path=section.path, document_type='section') }}</p>

                        <ol>
                            {% for article in section.ordered_children() %}
                            <li>
                                {{ article.name }}
                                <p>{{ view_document_button(path=article.path, warning=False) }}
                                {{ edit_document_button(path=article.path, document_type='article') }}
                                {{ delete_document_button(path=article.path, document_type='article') }}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    </li>
                    {% endfor %}
                </ol>
            </li>
            {% endfor %}

        </ol>
    </li>
</ol>
{% endfor %}

{% if special_documents.count() > 0 %}

<ul class="list-group mt-3 mb-3">
    <li class="list-group-item list-group-item-primary">
        <h3>Special Documents</h3>
    </li>
    {% for document in special_documents %}
    <li class="list-group-item list-group-item-light">
        <h5>{{ document.name }}</h5>
        {{ view_document_button(path=document.path, warning=False) }}
        {{ edit_document_button(path=document.path, document_type=document.document_type) }}
        {{ delete_document_button(path=document.path, document_type=document.document_type) }}
    </li>
    
    {% endfor %}
</ul>

{% endif %}

{% if invisible_documents.count() > 0 %}


<ul class="list-group mt-3 mb-3">
    <li class="list-group-item list-group-item-primary">
        <h3>Invisible Documents</h3>
    </li>
    {% for document in invisible_documents %}
    <li class="list-group-item list-group-item-light">
        <h5>{{ document.name }}</h5>
        {{ view_document_button(path=document.path, warning=False) }}
        {{ edit_document_button(path=document.path, document_type=document.document_type) }}
        {{ delete_document_button(path=document.path, document_type=document.document_type) }}
    </li>
    
    {% endfor %}
</ul>

{% endif %}

{% if lost_documents %}
<ul class="list-group mt-3 mb-3">
    <li class="list-group-item list-group-item-primary">
        <h3>Lost Documents</h3>

    </li>
    {% for document in lost_documents %}
    <li class="list-group-item list-group-item-light">

        <h5>{{ document.name }}</h5>
        {{ view_document_button(path=document.path, warning=False) }}
        {{ edit_document_button(path=document.path, document_type='article') }}
        {{ delete_document_button(path=document.path, document_type='article') }}
    </li>
    {% endfor %}
</ul>

{% endif %}


{% endblock %}


{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Editor Home") }}
{% endblock %}