{% extends "base.html" %} 

{% from 'macros/form_macros.html' import input, edit_document_button, delete_document_button, view_document_button %}
{% from 'macros/photo_macros.html' import photo_viewer_script, photo_viewer_button, add_photo_button %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#photos img").click(function(){
            var value = $(this)[0].src;
            console.log(value)
            var input = $('#url');
            input.val(value);
        });
    });
</script>

{{ photo_viewer_script() }}

{% endblock %}


{% block content %}
{{ add_photo_button(field=add_photo_form) }}
{{ photo_viewer_button(files, can_delete=True, btn_name="View/Delete Photos") }}

<a href="{{ url_for('staff.new_document', document_type='book', version='main') }}" class="btn btn-info" role="button">New Book</a>
<a href="{{ url_for('staff.new_document', document_type='chapter', version='main') }}" class="btn btn-info" role="button">New Chapter</a>
<a href="{{ url_for('staff.new_document', document_type='section', version='main') }}" class="btn btn-info" role="button">New Section</a>
<a href="{{ url_for('staff.new_document', document_type='article', version='main') }}" class="btn btn-info" role="button">New Article</a>

{% if not current_user.get_task_in_progress('export_document') %}
<a href="{{ url_for('staff.export') }}" class="btn btn-info" role="button">Export Documents</a>
{% endif %}




{% for book in books %}
<h2>{{ book.name }}</h2>
{{ view_document_button(path=book.path, warning=False) }}
{{ edit_document_button(path=book.path, document_type='category') }}
{{ delete_document_button(path=book.path, document_type='category') }}


{% for chapter in book.ordered_children() %}

<h3>{{ chapter.name }}</h2>
{{ view_document_button(path=chapter.path, warning=False) }}
{{ edit_document_button(path=chapter.path, document_type='category') }}
{{ delete_document_button(path=chapter.path, document_type='category') }}


{% for section in chapter.ordered_children() %}

<h4>{{ section.name }}</h3>
{{ view_document_button(path=section.path, warning=False) }}
{{ edit_document_button(path=section.path, document_type='category') }}
{{ delete_document_button(path=section.path, document_type='category') }}


{% for article in section.ordered_children() %}
<h5>{{ article.name }}</h3>
{{ view_document_button(path=article.path, warning=False) }}
{{ edit_document_button(path=article.path, document_type='article') }}
{{ delete_document_button(path=article.path, document_type='article') }}



{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}

{% for article in special %}
<h5>{{ article.name }}</h3>
{{ view_document_button(path=article.path, warning=False) }}
{{ edit_document_button(path=article.path, document_type='article') }}
{{ delete_document_button(path=article.path, document_type='article') }}
{% endfor %}

{% if lost_documents %}
<h3>Lost Documents:</h3>
{% for document in lost_documents %}
<h5>{{ document.name }}</h3>
{{ view_document_button(path=document.path, warning=False) }}
{{ edit_document_button(path=document.path, document_type='article') }}
{{ delete_document_button(path=document.path, document_type='article') }}
{% endfor %}
{% endif %}


{% endblock %}


{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Editor Home") }}
{% endblock %}