{% extends "base.html" %} 

{% from 'macros/form_macros.html' import input, edit_document_button, delete_document_button, view_document_button, edit_category_button, view_category_button, delete_category_button %}
{% from 'macros/photo_macros.html' import photo_viewer_script, photo_viewer_button, add_photo_button %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#photos img").click(function(){
            var value = $(this)[0].src;
            console.log(value)
            var input = $('#url');
            input.val(value);
        });
    });
</script>

{{ photo_viewer_script() }}

{% endblock %}



{% block content %}
<h1 class="text-center">Editor Home:</h1>

<div class="text-center d-flex flex-row flex-wrap justify-content-center gap-2">
    {{ add_photo_button(field=add_photo_form) }}
    {{ photo_viewer_button(files, can_delete=True, btn_name="View/Delete Photos") }}

    {% if not current_user.get_task_in_progress('export_document') %}
    <a href="{{ url_for('staff.export') }}" class="btn btn-info" role="button">Export Documents</a>
    {% endif %}

    <a href="{{ url_for('staff.new_document', document_type='book', version='main') }}" class="btn btn-info" role="button">New Book</a>
    <a href="{{ url_for('staff.new_document', document_type='chapter', version='main') }}" class="btn btn-info" role="button">New Chapter</a>
    <a href="{{ url_for('staff.new_document', document_type='section', version='main') }}" class="btn btn-info" role="button">New Section</a>
    <a href="{{ url_for('staff.new_document', document_type='article', version='main') }}" class="btn btn-info" role="button">New Article</a>

    <a href="{{ url_for('staff.new_category') }}" class="btn btn-info" role="button">New Category</a>

    <a href="{{ url_for('staff.new_update') }}" class="btn btn-info" role="button">New Update</a>
</div>





{% for book in books %}
<div class="mt-3 card">
    <h3 class="card-header">{{ book.name }}
    
    {{ view_document_button(path=book.path, warning=False) }}
    {{ edit_document_button(path=book.path, document_type='book') }}
    {{ delete_document_button(path=book.path, document_type='book') }}</h3>

    <ol class="card-body mb-0">
        {% for chapter in book.ordered_children() %}
        <li class="my-2">
            {{ chapter.name }}
            {{ view_document_button(path=chapter.path, warning=False) }}
            {{ edit_document_button(path=chapter.path, document_type='chapter') }}
            {{ delete_document_button(path=chapter.path, document_type='chapter') }}

            <ol>
                {% for section in chapter.ordered_children() %}
                <li class="my-2">
                    {{ section.name }}
                    {{ view_document_button(path=section.path, warning=False) }}
                    {{ edit_document_button(path=section.path, document_type='section') }}
                    {{ delete_document_button(path=section.path, document_type='section') }}

                    <ol>
                        {% for article in section.ordered_children() %}
                        <li class="my-2">
                            {{ article.name }}
                            {{ view_document_button(path=article.path, warning=False) }}
                            {{ edit_document_button(path=article.path, document_type='article') }}
                            {{ delete_document_button(path=article.path, document_type='article') }}
                        </li>
                        {% endfor %}
                    </ol>
                </li>
                {% endfor %}
            </ol>
        </li>
        {% endfor %}
    </ol>
</div>
{% endfor %}

{% if special_documents.count() > 0 %}
<div class="card my-3">
    <h3 class="card-header">Special Documents</h3>

    <ul class="ist-group list-group-flush px-3">
        {% for document in special_documents %}
        <li class="list-group-item">
            <h5>{{ document.name }}
            {{ view_document_button(path=document.path, warning=False) }}
            {{ edit_document_button(path=document.path, document_type=document.document_type) }}
            {{ delete_document_button(path=document.path, document_type=document.document_type) }}</h5>
        </li>
        {% endfor %}
    </ul>
</div>

{% endif %}

{% if categories %}
<div class="my-3 card">
    <h3 class="card-header">Categories:</h3>
    <ul class="list-group list-group-flush px-3">
    
        {% for category in categories %}
        <li class="list-group-item">
            {{ category.name }}
            {{ view_category_button(path=category.path, warning=False) }}
            {{ edit_category_button(path=category.path) }}
            {{ delete_category_button(path=category.path) }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}


{% if invisible_documents.count() > 0 %}
<div class="my-3 card">
    <h3 class="card-header">Invisible Documents:</h3>
    <ul class="list-group list-group-flush px-3">
       
        {% for document in invisible_documents %}
        <li class="list-group-item">
            {{ document.name }}
            {{ view_document_button(path=document.path, warning=False) }}
            {{ edit_document_button(path=document.path, document_type=document.document_type) }}
            {{ delete_document_button(path=document.path, document_type=document.document_type) }}
        </li>
        
        {% endfor %}
    </ul>
</div>


{% endif %}

{% if lost_documents %}
<div class="my-3 card">
    <h3 class="card-header">Lost Documents:</h3>
    <ul class="list-group list-group-flush px-3">
    
        {% for document in lost_documents %}
        <li class="list-group-item">
            {{ document.name }}
            {{ view_document_button(path=document.path, warning=False) }}
            {{ edit_document_button(path=document.path, document_type='article') }}
            {{ delete_document_button(path=document.path, document_type='article') }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}


{% endblock %}


{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Editor Home") }}
{% endblock %}