{% extends "base.html" %} 
{% from 'macros/form_macros.html' import input, select2_cdn, select2_header, select2_field %}
{% from 'macros/photo_macros.html' import photo_viewer_script, photo_viewer_button %}

{% block head %}
    {{mde.css}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    {{ select2_cdn() }}
    {{ select2_header(selected_items = categories_data, field_class = 'js-example-basic-multiple') }}

    {{ photo_viewer_script() }}

{% endblock %}


{% block content %}
    <h1 class="text-center">Edit Article</h1>
    
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p></p>
        {{ select2_field(field=form.categories, field_name="categories", field_placeholder="Categories", field_class='js-example-basic-multiple') }}
        {{ input(form.name, size=32) }}
        {{ input(form.path, size=32) }}
        {{ input(form.header, size=32) }}

        {{ photo_viewer_button(files=files) }}
        {{ input(form.body) }}

        
        <p>{{ form.submit() }}</p>
    </form>
    <hr>
    <h1>Preview Article</h1>
    {{mde.preview}}
    {{mde.js}}

{% endblock %}