{% extends "base.html" %} 
{% from 'macros/form_macros.html' import input, select2_cdn, select2_header, select2_field, delete_document_button, form_text, form_button, form_switch %}
{% from 'macros/photo_macros.html' import photo_viewer_script, photo_viewer_button, add_photo_button %}

{% block head %}
    {{mde.css}}

    {{ select2_cdn() }}

    {% if doc_type == 'article' %}
        {{ select2_header(already_selected=selected_categories, field_class = 'select2_categories') }}
    {% endif %}

    {% if doc_type == 'category' %}
        {{ select2_header(already_selected=selected_articles, field_class = 'select2_articles') }}
        {{ select2_header(already_selected=selected_category_type, field_class = 'select2_category_type') }}
        {{ select2_header(already_selected=selected_parents, field_class = 'select2_parents') }}
        {{ select2_header(already_selected=selected_children, field_class = 'select2_children') }}
    {% endif %}

    {{ photo_viewer_script() }}

{% endblock %}


{% block content %}

<div class="card">
    <div class="card-header">
        <h4 class="text-center card-title">{{ doc_type.capitalize() }} Editor</h1>
        <h5 class="text-center card-subtitle">Name: {{ form.name.data }}</h3>
        <h5 class="text-center card-subtitle mt-1">Version: {{ version.capitalize() }}</h2>
        </div>
    <div class="card-body">
            
        

        
        
        <div class="d-grid gap-2">

        {% if doc_type == "category" %}
            <a href="{{ url_for('main.category_page', path=doc.path) }}" class="btn btn-info" role="button"  onclick="return confirm('Make sure to save article first! Please click on OK to continue.');">View Page</a>
        {%  elif doc_type == "article" %}
            <a href="{{ url_for('main.article_page', path=doc.path) }}" class="btn btn-info" role="button" onclick="return confirm('Make sure to save article first! Please click on OK to continue.');">View Page</a>
        {% endif %} 
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p></p>
            
            {% if doc_type == "category" %}
            
            {{ select2_field(field=form.category_type, field_name="category_type", field_placeholder="Category Type", field_class='select2_category_type', is_multiple=False) }}

            {{ select2_field(field=form.parents, field_name="parents", field_placeholder="Parent Category", field_class='select2_parents', is_multiple=False) }}

            {{ select2_field(field=form.children, field_name="children", field_placeholder="Children Categories", field_class='select2_children', is_multiple=True) }}

            {{ select2_field(field=form.articles, field_name="articles", field_placeholder="Articles",field_class='select2_articles', is_multiple=True) }}

            {% endif %}

            {% if doc_type == 'article' %}
            {{ select2_field(field=form.categories, field_name="categories", field_placeholder="Categories",field_class='select2_categories', is_multiple=True) }}
            {% endif %}
            <p></p>
            {{ form_text(form.name, size=32) }}
            {{ form_text(form.order, size=32) }}
            {{ form_text(form.path, size=32) }}
            {{ form_switch(form.is_visible) }}
            <p></p>
            {{ form_text(form.header, size=32) }}
            <div class="d-grid gap-2">
                {{ photo_viewer_button(files=files, can_delete=False, btn_name="View Photos") }}
            </div>
            <p></p>
            {{ form.body.label }}
            {{ form.body() }}

            <div class="d-grid gap-2 mt-4">

            {% if version == "main" %}
                {{ form.load_draft(onclick="return confirm('Unsaved main changes will be lost. Please click on OK to continue.');", class="btn btn-warning") }}
                
                {{ form.save_main_to_draft(onclick="return confirm('Current draft will be lost. Please click on OK to continue.');", class="btn btn-primary mt-2") }}

            {% elif version == "draft" %}

                {{ form.load_main(onclick="return confirm('Unsaved draft changes will be lost. Please click on OK to continue.');", class="btn btn-warning") }}

                {{ form.save_draft_to_main(onclick="return confirm('Current main will be lost. Please click on OK to continue.');", class="btn btn-primary mt-2") }}

            {% endif %}

                {{ form.submit_continue_editing(class="btn btn-primary mt-2") }}
                {{ form.save_and_exit(class="btn btn-primary mt-2 mb-2") }}
                {{ delete_document_button(path=doc.path, doc_type=doc_type) }}
            </div>


        </form>
    </div>
</div>
    <h1>Preview Article</h1>
    {{mde.preview}}
    {{mde.js}}

{% endblock %}

{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Edit Document") }}
{% endblock %}