{% extends "base.html" %} 
{% from 'macros/form_macros.html' import input, select2_cdn, select2_header, select2_field %}
{% from 'macros/photo_macros.html' import photo_viewer_script, photo_viewer_button, add_photo_button %}

{% block head %}
    {{mde.css}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    {{ select2_cdn() }}
    {{ select2_header(already_selected=selected_items, field_class = 'select2_items') }}
    {% if doc_type == "category" %}
        {{ select2_header(already_selected=selected_parents, field_class = 'select2_parents') }}
        {{ select2_header(already_selected=selected_children, field_class = 'select2_children') }}
    {% endif %}

    {{ photo_viewer_script() }}

{% endblock %}


{% block content %}
    <h1 class="text-center">{{ title }}</h1>
    <h2 class="text-center">Version: {{ version }}</h2>
    {% if doc_type == "category" %}
        <a href="{{ url_for('main.category_page', path=doc.path) }}" class="btn btn-info" role="button"  onclick="return confirm('Make sure to save article first! Please click on OK to continue.');">View Page</a>
    {%  elif doc_type == "article" %}
        <a href="{{ url_for('main.article_page', path=doc.path) }}" class="btn btn-info" role="button" onclick="return confirm('Make sure to save article first! Please click on OK to continue.');">View Page</a>
    {% endif %} 
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p></p>
        {{ select2_field(field=form.items, field_name="items", field_placeholder=opposite_type.capitalize(), field_class='select2_items') }}

        {% if doc_type == "category" %}

        {{ select2_field(field=form.parents, field_name="parents", field_placeholder="Parent Categories", field_class='select2_parents') }}

        {{ select2_field(field=form.children, field_name="children", field_placeholder="Children Categories", field_class='select2_children') }}

        {% endif %}

        {{ input(form.name, size=32) }}
        {{ input(form.path, size=32) }}
        {{ input(form.is_visible) }}
        {{ input(form.header, size=32) }}
        


        {{ photo_viewer_button(files=files) }}
        {{ input(form.body) }}

        
        {% if version == "main" %}

        <p>{{ form.load_draft(onclick="return confirm('Unsaved main changes will be lost. Please click on OK to continue.');") }}</p>
        <p>{{ form.save_main_to_draft(onclick="return confirm('Current draft will be lost. Please click on OK to continue.');") }}</p>

        {% elif version == "draft" %}

        <p>{{ form.load_main(onclick="return confirm('Unsaved draft changes will be lost. Please click on OK to continue.');") }}</p>
        <p>{{ form.save_draft_to_main(onclick="return confirm('Current main will be lost. Please click on OK to continue.');") }}</p>

        {% endif %}

        <p>{{ form.submit_continue_editing() }}</p>
        <p>{{ form.save_and_exit() }}</p>


    </form>
    <hr>
    <h1>Preview Article</h1>
    {{mde.preview}}
    {{mde.js}}

{% endblock %}