{% extends "base.html" %}
{% from 'macros/photo_macros.html' import photo_viewer_script, photo_viewer_button, add_photo_button %}
{% from 'macros/form_macros.html' import input %}


{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#photos img").click(function(){
            var value = $(this)[0].src;
            console.log(value)
            var input = $('#url');
            input.val(value);
        });
    });
</script>

{{ photo_viewer_script() }}

{% endblock %}

{% block content %}
    <h1>Manage Photos</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#photoForm">
        Upload Photo
    </button>
    
    <div class="modal fade" id="photoForm">
        <div class="modal-dialog">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Upload Photo</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
            
                <!-- Modal body -->
                <div class="modal-body">
                    <form  enctype=multipart/form-data action="{{ url_for('author.manage_photos') }}" method="post" novalidate>
                        {{ add_photo_form.hidden_tag() }}
                        <p>
                            {{ input(add_photo_form.photo) }}
                            {{ input(add_photo_form.name) }}

                        </p>
                        <p>{{ add_photo_form.submit() }}</p>
                    </form>
                </div>

            </div>
        </div>
    </div>
    
    <hr>
    <!-- Button to Open the Modal -->


    {{ photo_viewer_button(files) }}


{% endblock %}