{% extends "base.html" %}
{% from 'macros/general_macros.html' import page_navigation %}


{% block content %}

<h1 class="text-center">{{ article.name }}</h1>


<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ url_for('main.category_page', path=article.categories[0].parents[0].parents[0].path) }}">
            {{ article.categories[0].parents[0].parents[0].name }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ url_for('main.category_page', path=article.categories[0].parents[0].path) }}">
            {{ article.categories[0].parents[0].name }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ url_for('main.category_page', path=article.categories[0].path) }}">
            {{ article.categories[0].name }}
        </a>
    </li>
    <li class="breadcrumb-item active">{{ article.name }}</li>
</ul>

{% if not article.is_visible %}
<h5 class="badge bg-info">Article Invisible</h5>
{% endif %}

{% if user %} 
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.submit(class="btn btn-success") }}
</form>
{% endif %}

{% if admin_permission.can() %} 
<a href="{{ url_for('author.edit_document', doc_type='article', path=article.path, version='main') }}" class="btn btn-info" role="button">Edit Article</a>
{% endif %}


{{ article.body_main | safe }}

{{ page_navigation(next_page_name=next_page_name, next_page_url=next_page_url, prev_page_name=prev_page_name, prev_page_url=prev_page_url)}}

{% endblock %}


{% block citation %}
{{ citation_info(page_type="Article", page_name=article.name) }}
{% endblock %}