{% extends "base.html" %} 


{% block content %}

<h1 class="text-center">{{ article.name }}</h1>

<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ url_for('main.category_page', path=article.categories[0].parents[0].parents[0].path) }}">
            {{ article.categories[0].parents[0].parents[0].name }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ url_for('main.category_page', path=article.categories[0].parents[0].path) }}">
            {{ article.categories[0].parents[0].name }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ url_for('main.category_page', path=article.categories[0].path) }}">
            {{ article.categories[0].name }}
        </a>
    </li>
    <li class="breadcrumb-item active">{{ article.name }}</li>
</ul>

{% if user %} 
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.submit }}
</form>
{% endif %}

{% if admin_permission.can() %} 
<a href="{{ url_for('author.edit_document', doc_type='article', path=article.path, version='main') }}" class="btn btn-info" role="button">Edit Article</a>
{% endif %}


{{ article.body_main | safe }}

{% if prev_page_url %}
<a href="{{ prev_page_url }}" class="btn btn-info" role="button">Previous</a>
{% else %}
<a href="#" class="btn btn-info disabled" role="button">Previous</a>
{% endif %}
{% if next_page_url %}
<a href="{{ next_page_url }}" class="btn btn-info" role="button">Next</a>
{% else %}
<a href="#" class="btn btn-info disabled" role="button">Next</a>
{% endif %}

{% endblock %}


{% block citation %}
{{ citation_info(page_type="Article", page_name=article.name) }}
{% endblock %}