{% extends "base.html" %} 


{% block content %}
<h1 class="text-center">Citation:</h1>
<h3 class="text-center pb-3" >{{page_name}}</h3>

MLA Style
<textarea id="mlaCitation" class="form-label" rows="3" style="width:100%;">
Boyer, James. "{{ page_name }}." Math Reformation, Ed. James Boyer, {{ day }} {{month}} {{year}}. {{ page_url }}
</textarea>

APA Style
<textarea id="apaCitation" class="form-label" rows="3" style="width:100%;">
Boyer, James. ({{ year }}, {{month}} {{day}}). "{{ page_name }}." Math Reformation. {{ page_url }}
</textarea>

Chicago Style
<textarea id="chicagoCitation" class="form-label" rows="3" style="width:100%;">
Boyer, James. "{{ page_name }}." Math Reformation, Ed. James Boyer, {{ month }} {{ day }}, {{ year }}. {{ page_url }}
</textarea>
<p></p>
{% endblock %}

{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Citation") }}
{% endblock %}

{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name='Categories') }}
{% endblock %}