{% extends "base.html" %}
{% from 'macros/general_macros.html' import page_navigation %}

{% block head %}
{{ document.header | safe }}
{% endblock %}


{% block left_sidebar %}

<div id="offcanvas-parent" class="bg-light sticky-menu left-menu offcanvas pt-3">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasLabel">Table of Contents</h4>
        <button type="button" class="btn toggle-btn"><i class="bi bi-x-lg"></i></button>
        
    </div>

    <!-- Table of Contents! -->
    <div class="offcanvas-body">
        <h5>
            <a href="{{ table_of_contents['path'] }}" style="text-decoration:none;" id="{{ table_of_contents['path'] }}">
            {{ table_of_contents['name'] }}
            </a>
        </h5>
        <ol>
            {% for chapter in table_of_contents['children'] %} 
            <li>
                <a href="{{ chapter['path'] }}" id="{{ chapter['path'] }}">
                    {{ chapter['name'] }}</a>
                <ol>
                    {% for section in chapter['children'] %}
                    <li>
                        <a href="{{ section['path'] }}" id="{{ section['path'] }}">{{ section['name'] }}</a>
                        <ol>
                            {% for article in section['children'] %}
                            <li>
                                <a href="{{ article['path'] }}" id="{{ article['path'] }}">{{ article['name'] }}</a>
                            </li>
                            {% endfor %}
                        </ol>
                    </li>
                    {% endfor %}
                </ol>
            </li>
            {% endfor %}
        </ol>
       
    </div>

</div>
{% endblock %}


{% block left_button %}
<button id="table_of_contents_button" class="btn toggle-btn" type="button">
    <i class="bi bi-list-ol"></i>
</button>
{% endblock %}

{% block document_name %}
<h1 class="text-center">{{ document.name }}</h1>
{% endblock %}

{% block right_button %}
{% if user %} 
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <button id="bookmark_button" name="submit" class="btn">
        {% if is_bookmarked %} 
        <i class="bi bi-bookmark-fill"></i>
        {% else %} 
        <i class="bi bi-bookmark"></i>
        {% endif %}
    </button>
</form>
{% endif %}
{% endblock %} 

{% block content %} 






{% if breadcrumb_links != [] %}
<ul class="breadcrumb justify-content-center">
    {% for link in breadcrumb_links %}
    
    <a class="breadcrumb-item {% if loop.last %}active{% endif %}" href="{{ url_for('main.document_page', path=link['path']) }}">
            {{ link['name'] }}
    </a>
    {% endfor %}
    
</ul>
{% endif %}


{% if not document.is_visible %}
<h5 class="badge bg-info">Article Invisible</h5>
{% endif %}



<div class="text-center mt-1 mb-1">
    {% if editor_permission.can() %} 
    {% if document.document_type != "article" %}
    <a href="{{ url_for('staff.new_document', parent_path=document.path) }}" class="btn btn-info" role="button">New Child</a>
    {% endif %}
    <a href="{{ url_for('staff.edit_document', document_type=document.document_type, path=document.path, version='main') }}" class="btn btn-info" role="button">Edit Document</a>
    {% endif %}
</div>

{{ document.body_main | safe }}






{{ page_navigation(next_page=document.next_page, prev_page=document.prev_page)}}

{% endblock %}

{% block footer %}
<script>
    $("#{{document.path}}").toggleClass("link-info");
</script>

{% endblock %}

{% block citation %}
{{ citation_info(page_type="Document", page_name=root + ": " + document.name) }}
{% endblock %}