{% extends "base.html" %}
{% from 'macros/general_macros.html' import page_navigation %}

{% block content %} 




<h1 class="text-center">{{ document.name }}</h1>


{% if breadcrumb_links != [] %}
<ul class="breadcrumb">
    {% for link in breadcrumb_links %}
    
    <a class="breadcrumb-item {% if loop.last %}active{% endif %}" href="{{ url_for('main.document_page', path=link['path']) }}">
            {{ link['name'] }}
    </a>
    {% endfor %}
</ul>
{% endif %}


{% if not document.is_visible %}
<h5 class="badge bg-info">Article Invisible</h5>
{% endif %}

{% if user %} 
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.submit(class="btn btn-success") }}
</form>
{% endif %}

{% if editor_permission.can() %} 
{% if document.document_type != "article" %}
<a href="{{ url_for('staff.new_document', parent_path=document.path) }}" class="btn btn-info" role="button">New Child</a>
{% endif %}
<a href="{{ url_for('staff.edit_document', document_type=document.document_type, path=document.path, version='main') }}" class="btn btn-info" role="button">Edit Document</a>
{% endif %}

{% if document.document_type != "article" %}
<ul class="list-group mt-3">
    {% for child in document.children %}
    {% if child.is_visible %}
    <li class="list-group-item">
        <h4 class="text-center">
            <a href = {{ url_for('main.document_page', path=child.path) }}>
                {{ child.name }}
            </a>
        </h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}


{{ document.body_main | safe }}

{{ page_navigation(next_page=document.next_page, prev_page=document.prev_page)}}

{% endblock %}


{% block citation %}
{{ citation_info(page_type="Document", page_name=document.name) }}
{% endblock %}