{% extends "base.html" %} 


{% block content %}

<h1 class="text-center">Home Page</h1>
<ul>
    {% for primary_category in math_category.ordered_children() %}
    {% if primary_category.is_visible == True %} 

    <li>
        <a href = {{ url_for('main.category_page', path=primary_category.path)}}>
            {{ primary_category.name }}
        </a>
    </li>
    {% endif %} 
    {% endfor %}
</ul>
<h3>Recent Articles:</h3>
<ul>
    {% for article in recent_articles %}

    <li>
        <a href = {{ url_for('main.article_page', path=article.path)}}>
            {{ article.name }}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}

