{% extends "base.html" %} 


{% block content %}
<h1>Test Change Added Testing</h1>
{{ home_article.body_main | safe }}


<ul class="list-group">
    <li class="list-group-item active">Recent Additions:</li>

    {% for document in recent_documents %}

        <a class="list-group-item" href = {{ url_for('main.document_page', path=document.path)}}>
            {{ document.name }}
        </a>
    {% endfor %}
</ul>

{% endblock %}

{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Index") }}
{% endblock %}

