{% extends "base.html" %} 
{% from 'macros/form_macros.html' import view_document_button %}

{% block content %}
<h1 class="text-center">Bookmarked Pages:</h1>

{% if user.bookmarked_documents %}
<ul class="list-group">
{% for document in user.bookmarked_documents %}
<li class="list-group-item">
    <h4>{{ document.name }}</h4>
    {{ view_document_button(path=document.path, warning=False) }}
</li>

{% endfor %}
</h3>


{% else %} 
<p>It appears you have not saved any articles. Visit any page of one the books and click the bookmark button to see it here!</p>

{% endif %}

{% endblock %}

{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Profile") }}
{% endblock %}