{% extends "base.html" %} 
{% from 'macros/form_macros.html' import view_document_button %}

{% block content %}
<h1 class="text-center">Bookmarked Pages:</h1>

{% if user.bookmarked_documents %}
<ul class="list-group">
{% for document in user.bookmarked_documents %}
<li class="list-group-item text-center">
    <h4><a href="{{ url_for('main.document_page', path=document.path) }}" class="" role="button">
        {{ document.name}}
    </a>
    </h4>
</li>

{% endfor %}
</ul>


{% else %} 
<p>It appears you have not saved any articles. Visit any page of one the books and click the bookmark button to see it here!</p>

{% endif %}

{% endblock %}

{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Profile") }}
{% endblock %}