{% extends "base.html" %} 


{% block content %}
<h1>Search Resuts</h1> 
<ul class="list-group">
{% for result in results %}
    <a class="list-group-item" href="{{ url_for('main.document_page', path=result.path) }}">
        {{ result.name }}
    </a>
{% endfor %}
</ul>

<div class="mt-3">
    <ul class="pagination">
        <li class="page-item{% if not prev_url %} disabled{% endif %}"> 
            <a class="page-link" href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Previous results
            </a> 
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}"> 
            <a class="page-link" href="{{ next_url or '#' }}">
                Next results<span aria-hidden="true">&rarr;</span> 
            </a>
        </li> 
    </ul>
</div>
{% endblock %}


{% block citation %}
{{ citation_info(page_type="Math Reformation", page_name="Search") }}
{% endblock %}