
{% macro form_switch(field) -%}

<div class="form-check form-switch">
    {{ field(class="form-check-input", type="checkbox", id="flexSwitchCheckDefault") }}
    <label class="form-check-label" for="flexSwitchCheckDefault">
        {{ field.label }}
    </label>
</div>

{%- endmacro %}

{% macro form_checkbox(field) -%}

<div class="form-check">
    {{ field(class="form-check-input", type="checkbox", id="flexCheckDefault") }}
    <label class="form-check-label" for="flexCheckDefault">
        {{ field.label }}
    </label>
</div>

{%- endmacro %}


{% macro input(field, size) -%}
<p>
    {{ field.label }}<br>
    {{ field(size=size) }}
    {% for error in field.errors %}
    <p class="text-danger">{{ error }}</p>
    {% endfor %}
</p>
{%- endmacro %}

{% macro form_select(field, size) -%}
<p>
    {{ field.label }}<br>
    {{ field(size=size, class="form-select") }}
    {% for error in field.errors %}
    <p class="text-danger">{{ error }}</p>
    {% endfor %}
</p>
{%- endmacro %}

{% macro form_text(field, size) -%}
<p>
    {{ field.label }}<br>
    {{ field(size=size, class="form-control") }}
    {% for error in field.errors %}
    <p class="text-danger">{{ error }}</p>
    {% endfor %}
</p>
{%- endmacro %}

{% macro form_button(field, size, onclick=None) -%}        
<p>{{ field(class="btn btn-primary mt-2 ", onclick=onclick) }}</p>
{%- endmacro %}



{% macro select2_cdn() -%} 
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{%- endmacro %}


{% macro select2_header(already_selected, field_class) -%}

<script type="text/javascript">
    
    $(document).ready(function() {
        $("." + "{{ field_class }}").select2();
        $("." + "{{ field_class }}").select2({dropdownAutoWidth : true});
        $("." + "{{ field_class }}").val(JSON.parse( {{ already_selected|tojson }} )).trigger('change');
    });

</script>

{%- endmacro %}


{% macro select2_field(field, field_name, field_placeholder, field_class, is_multiple) -%}

<div class="form-group">
    <label>{{ field.label }}</label>
    <select data-placeholder="{{ field_placeholder }}" class="{{ field_class}}" {% if is_multiple %}multiple="multiple" {% endif %} style="width:100%"; name="{{ field_name }}">
        <option></option>
        {% for choice in field.choices %}
              <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
    </select>
    {% for error in field.errors %}
    <p class="text-danger">{{ error }}</p>
    {% endfor %}
</div>

{%- endmacro %}

{% macro edit_document_button(path, document_type) -%}

<a href="{{ url_for('staff.edit_document', document_type=document_type, path=path, version='main') }}" class="btn btn-info btn-sm" role="button"><i class="bi bi-pencil"></i></a>

{%- endmacro %}

{% macro edit_category_button(path) -%}
<a href="{{ url_for('staff.edit_category',path=path) }}" class="btn btn-info btn-sm" role="button"><i class="bi bi-pencil"></i></a>
{%- endmacro %}


{% macro delete_document_button(path, document_type) -%}

<a href="{{ url_for('staff.delete_file', item_type=document_type, item_name=path) }}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this {{ document_type }}?');" role="button"><i class="bi bi-trash"></i></a>

{%- endmacro %}

{% macro delete_category_button(path) -%}

<a href="{{ url_for('staff.delete_file', item_type='category', item_name=path) }}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this category?');" role="button"><i class="bi bi-trash"></i></a>

{%- endmacro %}

{% macro delete_document_button_normal(path, document_type) -%}

<a href="{{ url_for('staff.delete_file', item_type=document_type, item_name=path) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this {{ document_type }}?');" role="button">Delete {{ document_type.capitalize() }}</a>

{%- endmacro %}




{% macro view_document_button(path, warning) -%}


<a href="{{ url_for('main.document_page', path=path) }}" class="btn btn-sm btn-primary" role="button"  {% if warning %}onclick="return confirm('Make sure to save document first! Please click on OK to continue.');" {% endif %}><i class="bi bi-eye"></i></a>

{%- endmacro %}


{% macro view_category_button(path, warning) -%}

<a href="{{ url_for('main.category_page', path=path) }}" class="btn btn-sm btn-primary" role="button"  {% if warning %}onclick="return confirm('Make sure to save category first! Please click on OK to continue.');" {% endif %}><i class="bi bi-eye"></i></a>

{%- endmacro %}
