{% macro citation_info(page_type, page_name) -%}

{% if page_name == "Citation" %} 
{{ url_for('main.citation', 
            page_type=page_type, 
            page_name=page_name, 
            page_url="citation") }}
{% else %}
{{ url_for('main.citation', 
            page_type=page_type, 
            page_name=page_name, 
            page_url=request.path[1:].replace("/", "%2F")) }}
{% endif %}
{%- endmacro %}

{% macro page_navigation(next_page, prev_page) -%}

{% if next_page != None or prev_page != None %}
<div class="row align-items-center mb-3">
    {% if prev_page %}
    <a href="{{ prev_page.path }}" class="col link btn btn-link text-center" role="button">
        <i class="bi bi-arrow-left"></i> {{prev_page.name}}
    </a>
    {% else %}
    <a href="#" class="disabled col btn btn-link text-center" role="button">
        <i class="bi bi-arrow-left"></i> None
    </a>
    {% endif %}    
    <a href="#top" class="col link btn btn-link text-center" role="button">
        Back to Top <i class="bi bi-arrow-up"></i>
    </a>
    {% if next_page %}
    <a href="{{ next_page.path }}" class="col btn btn-link text-center" role="button">
        {{next_page.name}} <i class="bi bi-arrow-right"></i>
    </a>
    {% else %}
    <a href="#" class="disabled col btn btn-link text-center" role="button">
        None <i class="bi bi-arrow-right"></i>
    </a>
    {% endif %}    

</div>

{% endif %}
{%- endmacro %}  