{% from 'macros/form_macros.html' import form_text, form_button, input %}

{% macro photo_viewer_script() -%}


<script type="text/javascript">
    $(document).ready(function(){

        $('#copy_button').tooltip({title: "Copied Text", trigger: "click"}); 

        $("#photos img").click(function(){

            //var value = $(this)[0].src;
            var value = $(this).attr("src");
            console.log(value);
            var input = $('#url');
            input.val(value);

            
            //var image =  document.getElementById("img_preview");
            //image.src = value;
            $("#img_preview").attr("src", value);
            $("#img_preview").css("visibility", "visible");
            $("#img_preview").css("width", "64px");

            $("#delete_button").attr("href", "/delete" + value.slice(5))
            console.log("delete_button_updated")
            $("#delete_button").css("visibility", "visible");




        });
    });
</script>

<script>
    function outFunc() {
        $('#copy_button').tooltip("hide")
    }


    function copyFunction() {
        // Get the text field
        var copyText = document.getElementById("url");

        console.log(copyText)
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices
      
         // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        //var tooltip = document.getElementById("myTooltip");
        //tooltip.innerHTML = "Copied: " + copyText.value;
      
        // Alert the copied text
    };
</script>
{%- endmacro %}

{% macro photo_viewer_button(files, can_delete, btn_name) -%}
<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#viewImages">
    {{ btn_name }}
</button>

<div class="modal fade text-start" id="viewImages">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
            
                <h4 class="modal-title">Photo Selection</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-header">
                <ol>
                    <li>Click Image</li>
                    <li>Copy Text</li>
                    <li>Use Text as Image Source</li>
                </ol>
            </div>
                
            
            <!-- Modal body -->
            <div class="modal-body" id="photos">
                {% for file in files %}
                <img src="{{ url_for('staff.show', setname='photos', filename=file) }}", name="{{ file }}" class="img-thumbnail m-1" style="width: 64px">
                {% endfor %}                
            </div>

            <div class="modal-footer">
                <p class="me-auto">Image Source</p>


                <img id="img_preview" src="", style="visibility: hidden;" name="TEST" class="img-thumbnail m-1" style="width:64px;">


                <button type="button" onclick="copyFunction()" id="copy_button" onmouseout="outFunc()" class="btn btn-primary">Copy URL</button>

                {% if can_delete %}
                <a href="#", style="visibility: hidden;", class="btn btn-danger" id="delete_button" role="button" onclick="return confirm('Are you sure you want to delete this photo?');">Delete Image</a>
                {% endif %}

               
                <input class="form-control" id="url" type="text" style="width:100%;"/>
            </div>

        </div>
    </div>
</div>
{%- endmacro %}


{% macro add_photo_button(field) -%}

<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#photoForm">
    Upload Photo
</button>

<div class="modal fade text-start" id="photoForm">
    <div class="modal-dialog">
        <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Upload Photo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
        
            <!-- Modal body -->
            <div class="modal-body">
                <form  enctype='multipart/form-data' method="post" action="" novalidate>
                    {{ field.hidden_tag() }}
                    <p>
                        <div class="form-group">
                            <label for="formFile" class="form-label mt-4">Upload Photo</label>
                            {{ field.photo(class="form-control") }}
                        </div>
                       
                        {{ form_text(field.name) }}


                    </p>
                    <p>{{ form_button(field.submit) }}</p>
                </form>
            </div>

        </div>
    </div>
</div>

{%- endmacro %}
