{% from 'macros/general_macros.html' import citation_info %}

<!DOCTYPE html>

<html lang="en" style="height:100%;">
    <head>
        <title>{{ title }} - Math Reformation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">



        <script>
            if (window.localStorage && window.localStorage.getItem('light') == 'false') {
                document.write(`
                <link id='style' rel='stylesheet' href='/static/styles/darkly.css' title='main'>
                <link id='style-alt' rel='alternate stylesheet' href='/static/styles/flatly.css' title='alt'>
                `);
            } else {
                document.write(`
                <link id='style' rel='stylesheet' href='/static/styles/flatly.css' title='main'>
                <link id='style-alt' rel='alternate stylesheet' href='/static/styles/darkly.css' title='alt'>
                `);
            }
        </script>

        <noscript>
            <link id='style' rel='stylesheet' href='/static/styles/flatly.css' title='main'>
            <link id='style-alt' rel='alternate stylesheet' href='/static/styles/darkly.css' title='alt'>
        </noscript>

        <link id='style' rel='stylesheet' href='/static/styles/mystyles.css'>


        <script>

            function toggleTheme() {
                if (window.localStorage) {
                  if (window.localStorage.getItem('light') == 'true' || window.localStorage.getItem('light') == null) {
                    window.localStorage.setItem('light', false);
                    document.getElementById('style').setAttribute('href', '/static/styles/darkly.css');
                    document.getElementById('style-alt').setAttribute('href', '/static/styles/flatly.css');
                    document.getElementById('theme_button').innerHTML = 'Light Mode';
                    $('.btn-darkmode').removeClass('btn-light');
                    $('.btn-darkmode').addClass('btn-dark');
                    $('.bg-darkmode').removeClass('bg-light');
                    $('.bg-darkmode').addClass('bg-dark');
                    $('.text-darkmode').addClass('text-light')
                    $('.text-darkmode').removeClass('text-dark')

            
            
                  } else {
                    window.localStorage.setItem('light', true);
                    document.getElementById('style').setAttribute('href', '/static/styles/flatly.css');
                    document.getElementById('style-alt').setAttribute('href', '/static/styles/darkly.css');
                    document.getElementById('theme_button').innerHTML = 'Dark Mode';
                    $('.btn-darkmode').removeClass('btn-dark');
                    $('.btn-darkmode').addClass('btn-light');
                    $('.bg-darkmode').removeClass('bg-dark');
                    $('.bg-darkmode').addClass('bg-light');
                    $('.text-darkmode').removeClass('text-light')
                    $('.text-darkmode').addClass('text-dark')
                  }
                }
              }
        </script>
        
  
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    
        <!-- Bootstrap latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!-- Mathjax (Allows for math equations in website)-->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

        {{ moment.include_moment() }}

        

        {% block head %}{% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <nav id="navbar" class="navbar navbar-expand-lg bg-secondary navbar-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand">Math Reformation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.index')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.about')}}">About</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Digital Books
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('main.document_page', path='exploring_math')}}">Exploring Math</a>                                
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('main.document_page', path='teaching_math')}}">Teaching Math</a>                                
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('main.document_page', path='applying_math')}}">Applying Math</a>                                
                                </li>
                                
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.category_page', path=None)}}">Categories</a>
                        </li>

                        {% if admin_permission.can() %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin_home">Admin Home</a> 
                        </li>
                        {% endif %}
                        {% if editor_permission.can() %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('staff.editor_home') }}">Editor Home</a> 
                        </li>
                        {% endif %}
                        {% if author_permission.can() %} 
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('staff.author_home') }}">Author Home</a> 
                        </li>
                        {% endif %}
                        {% if g.search_form %}
                        <form class="d-flex" method="get" action="{{ url_for('main.search') }}">
                                {{ g.search_form.q(class='form-control border-info me-2',aria_describedby="button-addon2", placeholder=g.search_form.q.label.text) }}
                                <button type=submit class="btn btn-info" id="button-addon2">
                                    <i class="bi bi-search"></i>
                                </button>
                        </form>
                        {% endif %}
                        
                    </ul>
                    <ul class="navbar-nav d-flex">
                        {% if current_user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.register') }}">
                                <i class="bi bi-person-add"></i> Register
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">
                                <i class="bi bi-box-arrow-in-right"></i>  Login
                            </a> 
                        </li>
                        
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.profile') }}">
                                <i display="inline" class="bi bi-file-person"></i>  Profile</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">
                                <i class="bi bi-box-arrow-right"></i>  Logout</a> 
                        </li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </nav>
        <div class="container-fluid flex-grow-1 px-0" style="position:relative;">
            <div class="row h-100 m-auto">
                <div class="col-sm-8 col-md-6 col-lg-3 left-sidebar-container <open?>" style="position:fixed;">
                    {% block left_sidebar %} 
                    {% endblock %}
                </div>
                <div class="col-12 col-lg-12 main-content row px-0 mx-0 mt-0" >

                    <div class="col-3"></div>
                    <div class="mt-3 col-6" style="z-index:150;">
                        {% block document_name %}
                        {% endblock %}
                    </div>
                    <div class="col-3"></div>

                    <div class="col-12 p-3" style="position:fixed; z-index:50;">
                        {% block left_button %}
                        {% endblock %}
                        
                        <div class="float-end">
                            {% block right_button %}
                            {% endblock %}
                        </div>
                    </div>
                   
                    
                </div>
                <div class="row">
                    {% block wide_content %}
                    {% endblock %}
                </div>
                <div class="row px-0 mx-auto" >
                    <div class="col-md-3"></div>
                    <div class="col-md-6 justify-content-center" >
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-4"></div> 
            </div>
        </div>

        <footer id="footer" class="bg-secondary text-center text-white" style="z-index:200;">
            <div class="container p-1 pb-0">
                <section class="mb-1">
                    <p class="mb-1">Website by James Boyer</p>
                    <button id="theme_button" class="btn btn-sm btn-primary mb-1" onclick="toggleTheme()">
                        Light Mode
                    </button>
                    <script>
                        if (window.localStorage && window.localStorage.getItem('dark')) {
                            document.getElementById('theme_button').innerHTML = 'Light Mode';
                        } else {
                            document.getElementById('theme_button').innerHTML = 'Dark Mode';
                        }
                    </script>
                    <a class="btn btn-sm btn-primary mb-1" href="{% block citation %}{% endblock %}">Cite This Page</a>
                    <a  class="btn btn-sm btn-primary mb-1" href="{{ url_for('main.feedback')}}">Submit Feedback</a>
                    
                </section>
            </div>
            <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022-2023 Copyright:
                <a class="text-white" href="mathreformation.com">mathreformation.com</a>
            </div>
            
        </footer>
    </body>
    {% block footer %}
    {% endblock %}
    <script src="{{url_for('static', filename='myjavascript.js')}}"></script>

    <script>
        if (window.localStorage && window.localStorage.getItem('light') == 'false') {
            document.getElementById('theme_button').innerHTML = 'Light Mode';
            $('.btn-darkmode').removeClass('btn-light');
            $('.btn-darkmode').addClass('btn-dark');
            $('.bg-darkmode').removeClass('bg-light');
            $('.bg-darkmode').addClass('bg-dark');
            $('.text-darkmode').removeClass('text-dark')
            $('.text-darkmode').addClass('text-light')
        } else {
            document.getElementById('theme_button').innerHTML = 'Dark Mode';
            $('.btn-darkmode').removeClass('btn-dark');
            $('.btn-darkmode').addClass('btn-light');
            $('.bg-darkmode').removeClass('bg-dark');
            $('.bg-darkmode').addClass('bg-light');
            $('.text-darkmode').removeClass('text-light');
            $('.text-darkmode').addClass('text-dark');
        }

        

        body = document.getElementsByTagName("body")[0];
        sidebar = document.getElementsByClassName("left-sidebar-container");
        footer = document.getElementsByTagName("footer")[0];

        // This function updates the bottom of the left-sidebar-container element to respond to the footer
        body.onscroll = function() {
            footer = $("footer");
            var footer_height = footer.outerHeight(),
            H   = $(window).height(),
            r   = footer[0].getBoundingClientRect(), t=r.top, b=r.bottom;
            px_visible = Math.max(0, t>0? Math.min(footer_height, H-t) : Math.min(b, H));
            px_visible = px_visible.toString();
            $(".left-sidebar-container").css("padding-bottom", px_visible + "px");
        };
        body.onscroll;
    </script>

</html>